* {
	border: 1px solid red !important;
}

@media only print and (max-width: 500px) {
	p{
		display: none;
	}
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms--box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;	
}
.col-1{
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
	float: right;
	padding: 30px;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.content {
	float: right;
}

/*Above is all bootstrap.*/

body {
	background: rgba(224, 239, 241, 1);
}

h1 {
	font-size: 75px;
	text-align: center;
	margin: 10px 0 10px 0;
	font-family: 'Playfair Display SC', serif;
	color: rgb(0, 0, 0);
	font-style: italic;
}

h2{
	text-align: right;
	margin-top: 0;
	padding-right: 10%;
	color: rgb(104, 1, 72);
}

.top {
	background-color: rgb(125, 180, 181);
	line-height: 25px;
	text-align: center;
	border-radius: 25%;
}

.navigate {
	background-color: rgb(125, 180, 181);
	text-align: left;
	padding: 5px;
	border-radius: 3%;
}

.nhead{
	font-weight: bold;
	text-align: left;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 5px;
	line-height: 25px;
}

.navtop {
	padding: 10px 30px 30px 30px;
}

.summary {
	padding: 10px;
	text-align: justify;
}

.box {
	border: 1px solid black;
	background-color: rgba(104, 1, 72, .25);
	border-radius: 6%;
}

.mission {
	text-align: justify;
	padding: 0 40px 20px 40px;
}


h4 {
	text-align: center;
}

.bar {
	background-color: rgb(104, 1, 72);
	line-height: 20px;
}


@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h4 {
  	font-size: 12px;
  }
